has nix && use flake
dotenv_if_exists .env # You can create a .env file with your env vars for this project. You can also use .secrets if you are using act. See the line below.
dotenv_if_exists .secrets # Used by [act](https://nektosact.com/) to load secrets into the pipelines

export GITHUB_STEP_SUMMARY=/tmp/github_summary.html
